In [1]:
from helper import *
import pandas as pd

In [2]:
import sys
print(sys.prefix)

C:\Users\lucas\OneDrive\Área de Trabalho\data_to_full_app\.venv

# **Mapeamento de Dados e Estrutura das Tabelas**

## **1. Território e População Rural**
### Tabela: `territorio`
Colunas:
- `populacao_rural`: Representa a população rural (`POPRU`).

In [3]:
territorio = get_data("territorio", year=2022)

Do you want to sign up (y/n):  y
Please enter your invitation:  ········
Please enter your username:  lucas
Please enter your password:  ········

Loading table: territorio
Table territorio could not be loaded
Pulling data from POPRU
Info received in 0:00:09.621422
Merging tables
Tables merged in 0:00:01.996742
Saving table: territorio
territorio saved!
Table saved 142864 rows in 0:00:10.742803
Finished in 0:00:22.412577

In [4]:
territorio[territorio['LEVEL'] == 'Municípios']

,NAME,TERCODIGO,LEVEL,AREA(KM2),CAPITAL,YEAR,POPULACAO_RURAL
38,Alta Floresta D'Oeste,1100015,Municípios,7111.8,False,2022,8523
45,Ariquemes,1100023,Municípios,4995.3,False,2022,12881
51,Cabixi,1100031,Municípios,1530.7,False,2022,2505
58,Cacoal,1100049,Municípios,3808.4,False,2022,14980
64,Cerejeiras,1100056,Municípios,2645.0,False,2022,1774
...,...,...,...,...,...,...,...
228458,Vianópolis,5222005,Municípios,957.5,False,2022,3125
228468,Vicentinópolis,5222054,Municípios,739.6,False,2022,800
228473,Vila Boa,5222203,Municípios,1064.0,False,2022,892
228477,Vila Propício,5222302,Municípios,2189.6,False,2022,2283
229871,Brasília,5300108,Municípios,5822.1,False,2022,99299

## **2. Agricultura**
### Tabela: `agricultura_valores_totais`
Colunas:
- `lavoura_total(ha)`: Área total de lavouras em hectares (`AREAPLATOT`).
- `lavoura_temporaria(ha)`: Área de lavouras temporárias em hectares (`AREAPLATEMP`).
- `lavoura_permanente(ha)`: Área de lavouras permanentes em hectares (`AREAPLAPERM`).
- `colheita_total(ha)`: Área total colhida em hectares (`AREACOLTOT`).
- `colheita_temporaria(ha)`: Área colhida de lavouras temporárias (`AREACOLTEMP`).
- `colheita_permanente(ha)`: Área colhida de lavouras permanentes (`AREACOLPERM`).
- `producao_total`: Valor total da produção (`VALPRODTOT`).
- `producao_temporaria`: Valor da produção temporária (`VALPRODTEMP`).
- `producao_permanente`: Valor da produção permanente (`VALPRODPERM`).

### Tabelas específicas: `algodao_herbaceo_caroco`, `amendoim`, `arroz`, `banana`, `batata_inglesa`, `cacau`, `cafe`, `cana_de_acucar`, `cebola`, `feijao`, `fumo`, `laranja`, `mandioca`, `milho`, `pimenta_do_reino`, `soja`, `tomate`, `trigo`, `uva`

### Exemplo de tabelas específicas:
#### Tabela: `algodao_herbaceo_caroco`
- `area(ha)`: Área colhida em hectares (`AREACOLALGHER`).
- `quantidade`: Quantidade produzida (`QUANTPRODALGHER`).
- `valor`: Valor da produção (`VALPRODALGHER`).

In [5]:
banana = get_data("banana", year=2022)

Loading table: banana
Table banana could not be loaded
Pulling data from AREACOLBANANA
Info received in 0:00:42.666002
Pulling data from QUANTPRODBANANA
Info received in 0:00:43.487377
Pulling data from VALPRODBANANA
Info received in 0:00:46.522306
Merging tables
Tables merged in 0:00:03.447560
Saving table: banana
banana saved!
Table saved 600251 rows in 0:00:44.691945
Finished in 0:03:00.948895

In [6]:
banana[banana['LEVEL'] == 'Municípios']

,NAME,TERCODIGO,LEVEL,YEAR,AREA(HA),QUANTIDADE,VALOR
294,Alta Floresta D'Oeste,1100015,Municípios,2022,229.0,1859.0,1629.82
340,Ariquemes,1100023,Municípios,2022,185.0,2997.0,3874.82
375,Cabixi,1100031,Municípios,2022,25.0,138.0,147.01
421,Cacoal,1100049,Municípios,2022,500.0,6000.0,6799.31
460,Cerejeiras,1100056,Municípios,2022,15.0,108.0,124.70
...,...,...,...,...,...,...,...
920502,Uruaçu,5221601,Municípios,2022,20.0,200.0,140.01
920784,Uruana,5221700,Municípios,2022,1300.0,23215.0,20314.79
920980,Valparaíso de Goiás,5221858,Municípios,2022,2.0,15.0,16.63
921339,Vila Propício,5222302,Municípios,2022,50.0,482.0,263.83
927409,Brasília,5300108,Municípios,2022,174.0,3216.0,3376.90

## **3. Pecuária**
### Tabela: `pecuaria_criacao`
Colunas:
- `bovinos`: Quantidade de bovinos (`QUANTBOVINOS`).
- `vacas_ordenhadas`: Quantidade de vacas ordenhadas (`QUANTVACASORD`).
- `bubalinos`: Quantidade de bubalinos (`QUANTBUBALINOS`).
- `caprinos`: Quantidade de caprinos (`QUANTCAPRINOS`).
- `equinos`: Quantidade de equinos (`QUANTEQUINOS`).
- `galinaceos`: Quantidade de galináceos (`QUANTGALINACEOS`).
- `ovinos`: Quantidade de ovinos (`QUANTOVINOS`).
- `ovinos_tosquiados`: Quantidade de ovinos tosquiados (`QUANTOVINOSTOSQ`).
- `suinos`: Quantidade de suínos (`QUANTSUINOS`).

### Tabelas específicas: `casulo_de_bicho_da_seda`, `la`, `mel_de_abelha`, `ovos_de_codorna`, `ovos_de_galinha`

### Exemplos de tabelas específicas:
#### Tabela: `casulo_de_bicho_da_seda`
- `quantidade`: Quantidade produzida (`QUANTCASULOBS`).
- `valor`: Valor da produção (`VALORCASULOBS`).

In [7]:
ovos_de_galinha = get_data("ovos_de_galinha", year=2022)

Loading table: ovos_de_galinha
Table ovos_de_galinha could not be loaded
Pulling data from QUANTOVOGALINHA
Info received in 0:00:51.720456
Pulling data from VALOROVOGALINHA
Info received in 0:00:52.568263
Merging tables
Tables merged in 0:00:03.100041
Saving table: ovos_de_galinha
ovos_de_galinha saved!
Table saved 690995 rows in 0:00:47.896774
Finished in 0:02:35.414592

In [8]:
ovos_de_galinha[ovos_de_galinha['LEVEL'] == 'Municípios']

,NAME,TERCODIGO,LEVEL,YEAR,QUANTIDADE,VALOR
182,Alta Floresta D'Oeste,1100015,Municípios,2022,262.0,830.23
228,Ariquemes,1100023,Municípios,2022,298.0,815.18
263,Cabixi,1100031,Municípios,2022,131.0,406.30
309,Cacoal,1100049,Municípios,2022,4744.0,12094.87
348,Cerejeiras,1100056,Municípios,2022,86.0,274.74
...,...,...,...,...,...,...
1088802,Vianópolis,5222005,Municípios,2022,45.0,135.00
1088860,Vicentinópolis,5222054,Municípios,2022,9.0,18.92
1088891,Vila Boa,5222203,Municípios,2022,24.0,53.74
1088918,Vila Propício,5222302,Municípios,2022,51.0,185.74
1095286,Brasília,5300108,Municípios,2022,18590.0,96714.28

## **4. Crédito Rural**
### Tabela: `credito_rural_geral`
Colunas:
- `estoque_de_credito_rural`: Estoque de crédito rural (`CREAT`).
- `fluxo_de_credito_rural`: Fluxo de crédito rural (`CREATE`).
- `total_de_contratos_de_credito_rural`: Total de contratos de crédito rural (`NCREAT`).

### Tabelas específicas: `credito_rural_comercializacao`, `credito_rural_custeio`, `credito_rural_investimento`

### Exemplos de tabelas específicas:
#### Tabela: `credito_rural_comercializacao`
- `estoque_de_credito_rural`: Estoque de crédito rural geral (`COMERC`).
- `estoque_de_credito_rural_agricola`: Estoque de crédito rural agrícola (`COMAGR`).
- `estoque_de_credito_rural_pecuaria`: Estoque de crédito rural pecuário (`COMPEC`).
- `fluxo_de_credito_rural`: Fluxo geral de crédito rural (`COMERCE`).
- `fluxo_de_credito_rural_agricola`: Fluxo de crédito agrícola (`COMAGRE`).
- `fluxo_de_credito_rural_pecuaria`: Fluxo de crédito pecuário (`COMPECE`).
- `total_de_contratos_de_credito_rural`: Total de contratos gerais (`NCOMER`).
- `total_de_contratos_de_credito_rural_agricola`: Total de contratos agrícolas (`NCOMAG`).
- `total_de_contratos_de_credito_rural_pecuaria`: Total de contratos pecuários (`NCOMPC`).

In [9]:
credito_rural_geral = get_data("credito_rural_geral", year=2022)

Loading table: credito_rural_geral
Table credito_rural_geral could not be loaded
Pulling data from CREAT
Info received in 0:00:27.841570
Pulling data from CREATE
Info received in 0:00:00.670696
Pulling data from NCREAT
Info received in 0:00:26.784676
Merging tables
Tables merged in 0:00:02.593430
Saving table: credito_rural_geral
credito_rural_geral saved!
Table saved 334695 rows in 0:00:24.866468
Finished in 0:01:22.831775

In [10]:
credito_rural_geral[credito_rural_geral['LEVEL'] == 'Municípios']

,NAME,TERCODIGO,LEVEL,YEAR,ESTOQUE_DE_CREDITO_RURAL,FLUXO_DE_CREDITO_RURAL,TOTAL_DE_CONTRATOS_DE_CREDITO_RURAL
122,Alta Floresta D'Oeste,1100015,Municípios,2022,13304732.59,0.0,16
153,Ariquemes,1100023,Municípios,2022,30983554.37,0.0,58
184,Cabixi,1100031,Municípios,2022,3838575.31,0.0,14
215,Cacoal,1100049,Municípios,2022,14604369.57,0.0,21
246,Cerejeiras,1100056,Municípios,2022,21239847.86,0.0,11
...,...,...,...,...,...,...,...
514377,Vianópolis,5222005,Municípios,2022,33478890.97,0.0,6
514420,Vicentinópolis,5222054,Municípios,2022,4893624.65,0.0,4
514449,Vila Boa,5222203,Municípios,2022,958197.21,0.0,0
514476,Vila Propício,5222302,Municípios,2022,6276084.67,0.0,5
516958,Brasília,5300108,Municípios,2022,49494729.33,0.0,3

# **Homologação de Dados**

In [11]:
territorio = get_data("territorio")

Loading table: territorio
Loaded in 0:00:00.420051
Finished in 0:00:00.420056

In [12]:
territorio

,NAME,TERCODIGO,LEVEL,AREA(KM2),CAPITAL,YEAR,POPULACAO_RURAL
0,Brasil,0,Brasil,8531507.6,false,1940,28356133
1,Brasil,0,Brasil,8531507.6,false,1950,33820279
2,Brasil,0,Brasil,8531507.6,false,1960,38693695
3,Brasil,0,Brasil,8531507.6,false,1970,41037586
4,Brasil,0,Brasil,8531507.6,false,1980,38573725
...,...,...,...,...,...,...,...
142859,Distrito Federal,5301,Mesorregiões,5822.1,false,1980,37914
142860,Distrito Federal,5301,Mesorregiões,5822.1,false,1991,85205
142861,Distrito Federal,5301,Mesorregiões,5822.1,false,1996,129698
142862,Distrito Federal,5301,Mesorregiões,5822.1,false,2000,89647
142863,Distrito Federal,5301,Mesorregiões,5822.1,false,2010,88888

In [13]:
territorio[(territorio['YEAR'] == 2022) & (territorio['LEVEL'] == 'Municípios')]

,NAME,TERCODIGO,LEVEL,AREA(KM2),CAPITAL,YEAR,POPULACAO_RURAL
38,Alta Floresta D'Oeste,1100015,Municípios,7111.8,false,2022,8523
45,Ariquemes,1100023,Municípios,4995.3,false,2022,12881
51,Cabixi,1100031,Municípios,1530.7,false,2022,2505
58,Cacoal,1100049,Municípios,3808.4,false,2022,14980
64,Cerejeiras,1100056,Municípios,2645.0,false,2022,1774
...,...,...,...,...,...,...,...
141473,Vianópolis,5222005,Municípios,957.5,false,2022,3125
141483,Vicentinópolis,5222054,Municípios,739.6,false,2022,800
141488,Vila Boa,5222203,Municípios,1064.0,false,2022,892
141492,Vila Propício,5222302,Municípios,2189.6,false,2022,2283
142856,Brasília,5300108,Municípios,5822.1,false,2022,99299

In [14]:
# Count total de dados
print(territorio.shape[0])
# Count missing data
print(territorio.isna().sum().sum())

142864
0

In [15]:
# Listing years with available data (year 0 represents territories with no information about the rural population)
sorted(set(territorio['YEAR'].tolist()))

[0, 1940, 1950, 1960, 1970, 1980, 1991, 1996, 2000, 2007, 2010, 2022]

In [71]:
engine = get_engine()
query = "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'"
tables_db = pd.read_sql(query, engine)
tables_db

            table_name
0                users
1  credito_rural_geral
2           territorio
3               banana
4      ovos_de_galinha

In [112]:
engine = get_engine()
try:
    query = 'SELECT * FROM users WHERE "USERNAME"="lucas"'
    df = pd.read_sql(query, engine)
except:
    print("Unable to connect to the database.")
df

  USERNAME                                           PASSWORD
0    lucas  gAAAAABnhxkSWD-9ZtLRzYJsIQfgqj1xRev3VJcGXNnjae...

In [103]:
!pytest test.py

============================= test session starts =============================
platform win32 -- Python 3.13.1, pytest-8.3.4, pluggy-1.5.0
rootdir: C:\Users\lucas\OneDrive\Área de Trabalho\data_to_full_app
plugins: anyio-4.8.0, mock-3.14.0
collected 4 items

test.py ....                                                             [100%]

============================== warnings summary ===============================
test.py::TestUserAuth::test_auth_signup
  C:\Users\lucas\OneDrive\Área de Trabalho\data_to_full_app\helper.py:202: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
    df.to_sql('users', engine, if_exists='append', index=False)

-- Docs: https://docs.pytest.org/en/stable/how-to/capture-warnings.html
======================== 4 passed, 1 warning in 1.45s =========================