In [2]:
from ipeadatapy import *
from helper import *
import pandas as pd

In [3]:
teste = get_data("territorio")

Loading table: territorio
Loaded in 0:00:00.325796
Finished in 0:00:00.325800

In [5]:
teste[teste['YEAR']==2022]

,NAME,TERCODIGO,LEVEL,AREA(M2),CAPITAL,YEAR,POPULACAO_RURAL
10,Brasil,0,Brasil,8531507.6,false,2022,25572339
21,Região Norte,1,Regiões,3869637.9,false,2022,3732935
32,Rondônia,11,Estados,238512.8,false,2022,339524
38,Alta Floresta D'Oeste,1100015,Municípios,7111.8,false,2022,8523
45,Ariquemes,1100023,Municípios,4995.3,false,2022,12881
...,...,...,...,...,...,...,...
141483,Vicentinópolis,5222054,Municípios,739.6,false,2022,800
141488,Vila Boa,5222203,Municípios,1064.0,false,2022,892
141492,Vila Propício,5222302,Municípios,2189.6,false,2022,2283
142801,Distrito Federal,53,Estados,5822.1,false,2022,99299
142856,Brasília,5300108,Municípios,5822.1,false,2022,99299

In [4]:
!pip install redis

Collecting redis
  Downloading redis-5.2.1-py3-none-any.whl.metadata (9.1 kB)
Downloading redis-5.2.1-py3-none-any.whl (261 kB)
Installing collected packages: redis
Successfully installed redis-5.2.1

In [5]:
import redis

r = redis.Redis(host='localhost', port=6379, db=0)

In [6]:
# Inserindo um valor
r.set('minhaChave', 3)

# Recuperando o valor
valor = r.get('datamaster_user_username')
print(valor.decode('utf-8'))  # decodificando o valor de bytes para string

asdasd

In [12]:
teste = r.get('dddd').decode('utf-8')

AttributeError: 'NoneType' object has no attribute 'decode'

In [8]:
datamaster_user_username = input("Please enter your username: ")

Please enter your username:  asdasd

In [9]:
datamaster_user_username

'asdasd'

In [2]:
import sys
print(sys.prefix)

C:\Users\lucas\OneDrive\Área de Trabalho\teste\.venv

In [3]:
!pip freeze

anyio==4.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.4
attrs==24.3.0
babel==2.16.0
bcrypt==4.2.1
beautifulsoup4==4.12.3
bleach==6.2.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
comm==0.2.2
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
executing==2.1.0
fastjsonschema==2.21.1
fqdn==1.5.1
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
ipykernel==6.29.5
ipython==8.31.0
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.5
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mistune==3.1.0
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.3.2
notebook_shim==0.2.4
numpy==2.2.1
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
platformdirs==4.3.6
prometheus_client==0.21.1
prompt_toolkit==3.0.48
psutil==6.1.1
psycopg2-binary==2.9.10
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==3.2.1
pytz==2024.2
pywin32==308
pywinpty==2.0.14
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.22.3
Send2Trash==1.8.3
setuptools==75.8.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.37
stack-data==0.6.3
terminado==0.18.1
tinycss2==1.4.0
tornado==6.4.2
traitlets==5.14.3
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.2
uri-template==1.3.0
urllib3==2.3.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0

In [5]:
timeseries("NCREAT")

,CODE,RAW DATE,TERCODIGO,YEAR,NIVNOME,VALUE (Unidade)
DATE,,,,,,
1993-01-01,NCREAT,1993-01-01T00:00:00-02:00,210980,1993,AMC 1872-00,1.0
1993-01-01,NCREAT,1993-01-01T00:00:00-02:00,21AMC1872_1997009,1993,AMC 1872-00,1.0
1993-01-01,NCREAT,1993-01-01T00:00:00-02:00,21AMC1872_1997020,1993,AMC 1872-00,1.0
1993-01-01,NCREAT,1993-01-01T00:00:00-02:00,230190,1993,AMC 1872-00,1.0
1993-01-01,NCREAT,1993-01-01T00:00:00-02:00,29AMC1872_1997005,1993,AMC 1872-00,1.0
...,...,...,...,...,...,...
2023-01-01,NCREAT,2023-01-01T00:00:00-03:00,43,2023,Estados,63412.0
2023-01-01,NCREAT,2023-01-01T00:00:00-03:00,3,2023,Regiões,70051.0
2023-01-01,NCREAT,2023-01-01T00:00:00-03:00,4,2023,Regiões,132076.0
2023-01-01,NCREAT,2023-01-01T00:00:00-03:00,2,2023,Regiões,174425.0
2023-01-01,NCREAT,2023-01-01T00:00:00-03:00,0,2023,Brasil,427472.0

In [ ]:
teste = get_data("credito_rural_comercializacao", year="2022")

Loading table: credito_rural_comercializacao
Table credito_rural_comercializacao could not be loaded
Pulling data from COMERC

In [4]:
print(teste.dtypes)

NAME                                             object
TERCODIGO                                        object
LEVEL                                            object
YEAR                                              int64
ESTOQUE_DE_CREDITO_RURAL                        float64
ESTOQUE_DE_CREDITO_RURAL_AGRICOLA               float64
ESTOQUE_DE_CREDITO_RURAL_PECUARIA               float64
FLUXO_DE_CREDITO_RURAL                          float64
FLUXO_DE_CREDITO_RURAL_AGRICOLA                 float64
FLUXO_DE_CREDITO_RURAL_PECUARIA                 float64
TOTAL_DE_CONTRATOS_DE_CREDITO_RURAL               int64
TOTAL_DE_CONTRATOS_DE_CREDITO_RURAL_AGRICOLA      int64
TOTAL_DE_CONTRATOS_DE_CREDITO_RURAL_PECUARIA      int64
dtype: object

In [5]:
teste.shape[0]

179809

In [6]:
testes = teste.drop_duplicates()

In [7]:
testes.shape[0]

179809

In [8]:
testes

,NAME,TERCODIGO,LEVEL,YEAR,ESTOQUE_DE_CREDITO_RURAL,ESTOQUE_DE_CREDITO_RURAL_AGRICOLA,ESTOQUE_DE_CREDITO_RURAL_PECUARIA,FLUXO_DE_CREDITO_RURAL,FLUXO_DE_CREDITO_RURAL_AGRICOLA,FLUXO_DE_CREDITO_RURAL_PECUARIA,TOTAL_DE_CONTRATOS_DE_CREDITO_RURAL,TOTAL_DE_CONTRATOS_DE_CREDITO_RURAL_AGRICOLA,TOTAL_DE_CONTRATOS_DE_CREDITO_RURAL_PECUARIA
0,Brasil,0,Brasil,1993,1.201336e+10,1.122212e+10,7.912412e+08,9.984434e+09,9.519529e+09,4.649050e+08,87460,80875,6585
1,Brasil,0,Brasil,1994,1.965699e+10,1.879246e+10,8.645329e+08,1.886531e+10,1.810104e+10,7.642708e+08,182132,170262,11870
2,Brasil,0,Brasil,1995,4.175703e+09,4.013672e+09,1.620309e+08,3.624164e+09,3.493335e+09,1.308286e+08,69625,68573,1052
3,Brasil,0,Brasil,1996,1.185205e+09,1.056823e+09,1.283826e+08,1.123227e+09,1.014931e+09,1.082955e+08,15146,13740,1406
4,Brasil,0,Brasil,1997,2.690726e+09,2.555951e+09,1.347757e+08,2.402456e+09,2.326647e+09,7.580898e+07,10794,6619,4175
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190104,Distrito Federal,5301,Mesorregiões,2019,2.960600e+07,2.542453e+07,4.181467e+06,0.000000e+00,0.000000e+00,0.000000e+00,44,32,12
190105,Distrito Federal,5301,Mesorregiões,2020,1.980515e+07,1.980515e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,26,26,0
190106,Distrito Federal,5301,Mesorregiões,2021,1.562983e+07,1.562983e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,18,18,0
190107,Distrito Federal,5301,Mesorregiões,2022,2.357486e+07,2.357486e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1,1,0
190108,Distrito Federal,5301,Mesorregiões,2023,2.264596e+07,2.261524e+07,3.072526e+04,0.000000e+00,0.000000e+00,0.000000e+00,25,24,1

In [6]:
teste['NAME'] = teste['NAME'].astype(str)

In [12]:
teste = get_data("territorio")
teste = teste[teste['NAME'] != '(não definido)']
print(teste.shape[0])
print(teste.isna().sum().sum())
teste = teste.fillna(0)
print(teste.isna().sum().sum())

Loading table: territorio
Loaded in 0:00:00.574168
Finished in 0:00:00.574172
229879
78369
0

In [13]:
print(teste.dtypes)

NAME                object
TERCODIGO           object
LEVEL               object
AREA               float64
CAPITAL             object
YEAR               float64
POPULACAO_RURAL    float64
dtype: object

In [27]:
import pandas as pd
engine = get_engine()
query = "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'"
tables_df = pd.read_sql(query, engine)
tables_df

   table_name
0  territorio

In [3]:
find_value_in_dicts("credito_rural_investimento")

{'estoque_de_credito_rural': 'INVEST',
 'estoque_de_credito_rural_agricola': 'INVAGR',
 'estoque_de_credito_rural_pecuaria': 'INVPEC',
 'fluxo_de_credito_rural': 'INVESTE',
 'fluxo_de_credito_rural_agricola': 'INVAGRE',
 'fluxo_de_credito_rural_pecuaria': 'INVPECE',
 'total_de_contratos_de_credito_rural': 'NINVES',
 'total_de_contratos_de_credito_rural_agricola': 'NINVAG',
 'total_de_contratos_de_credito_rural_pecuaria': 'NINVPC'}

In [24]:
territorios = territories()
municipios = territorios[territorios['LEVEL']=='Municípios']

In [4]:
municipios

                        NAME       ID       LEVEL    AREA CAPITAL
4      Alta Floresta D'Oeste  1100015  Municípios  7111.8   False
5                  Ariquemes  1100023  Municípios  4995.3   False
6                     Cabixi  1100031  Municípios  1530.7   False
7                     Cacoal  1100049  Municípios  3808.4   False
8                 Cerejeiras  1100056  Municípios  2645.0   False
...                      ...      ...         ...     ...     ...
19148             Vianópolis  5222005  Municípios   957.5   False
19150         Vicentinópolis  5222054  Municípios   739.6   False
19151               Vila Boa  5222203  Municípios  1064.0   False
19152          Vila Propício  5222302  Municípios  2189.6   False
19347               Brasília  5300108  Municípios  5822.1   False

[5596 rows x 5 columns]

In [64]:
territorios = territories()
tewste = {
    "estados":territorios[territorios['LEVEL']=='Estados'],
    "municipios":territorios[territorios['LEVEL']=='Municípios']
}
teeste = tewste["estados"]

In [1]:
from helper import redff as tetedte

In [2]:
tetedte()

hello!

In [25]:
dict_list = [serie_agro, serie_pecuaria]

In [30]:
key = "uva"
for dict_serie in dict_list:
    if key in dict_serie:
        print(dict_serie[key])

{'area': 'AREACOLUVA', 'quantidade': 'QUANTPRODUVA', 'valor': 'VALPRODUVA'}

In [32]:
def find_value_in_dicts(key): 
    dicts = [serie_agro, serie_pecuaria] 
    for dictionary in dicts: 
        for sub_key, sub_value in dictionary.items(): 
            if isinstance(sub_value, dict): 
                if key in sub_value: 
                    return sub_value[key] 
                else: 
                    if key == sub_key: 
                        return sub_value 
    return "Key not found in any dictionary"

In [40]:
find_value_in_dicts("uva")

{'area': 'AREACOLUVA', 'quantidade': 'QUANTPRODUVA', 'valor': 'VALPRODUVA'}

In [71]:
def join_dataframes(dict_of_files): 
    dataframes = {} 
    # Dynamically create DataFrames 
    for key, value in dict_of_files.items(): 
        # dataframes[key] = timeseries(value) 
        dataframes[key] = value[['TERCODIGO', 'YEAR', value.columns[-1]]]
    # Merge DataFrames on 'TERCODIGO' 
    merged_df = territorios 
    for key, df in dataframes.items(): 
        merged_df = merged_df.merge(df, on=['TERCODIGO', 'YEAR'], how='left') 
    return merged_df

In [129]:
def join_dataframes(dict_of_files):
    dataframes = {}
    
    # Dynamically create DataFrames
    for key, value in dict_of_files.items():
        print(f"Pulling data from {value}")
        df_api = timeseries(value)
        dataframes[key] = df_api[['TERCODIGO', 'YEAR', df_api.columns[-1]]]
    
    # Merge DataFrames on 'TERCODIGO' and 'YEAR'
    
    merged_df = None
    for key, df in dataframes.items():
        
        try:
            if merged_df is None:
                merged_df = territorios
                merged_df.rename(columns={'ID': 'TERCODIGO'}, inplace=True)
                merged_df = merged_df.merge(df, on=['TERCODIGO'], how='left')
            else:
                merged_df = merged_df.merge(df, on=['TERCODIGO', 'YEAR'], how='left')
        except Exception as e:
            print(e)
    
    return merged_df

In [125]:
teste5 = {'area': dados_teste, 'quantidade': dados_teste2, 'valor': dados_teste3}

In [135]:

testeaass.fillna(0, inplace=True)
testeaass.rename(columns={'YEAR': 'ANO'}, inplace=True)
testeaass.rename(columns={'VALUE (Hectare)': 'HECTARE'}, inplace=True)
testeaass.rename(columns={'VALUE (Tonelada)': 'TONELADA'}, inplace=True)
testeaass.rename(columns={'VALUE (R$, a preços do ano 2010)': 'FATURAMENTO'}, inplace=True)
testeaass['YEAR'] = testeaass['YEAR'].astype(int)
testeaass['HECTARE'] = testeaass['HECTARE'].astype(int)
testeaass['TONELADA'] = testeaass['TONELADA'].astype(int)
testeaass['FATURAMENTO'] = testeaass['FATURAMENTO'].astype(int)
testeaass

,NAME,TERCODIGO,NIVNOME,AREA,CAPITAL,YEAR,HECTARE,TONELADA,FATURAMENTO
0,(não definido),,,0.0,0,0,0,0,0
1,Brasil,0,Brasil,8531507.6,False,1931,45150,220788,0
2,Brasil,0,Brasil,8531507.6,False,1932,57810,215680,0
3,Brasil,0,Brasil,8531507.6,False,1933,37362,223886,0
4,Brasil,0,Brasil,8531507.6,False,1934,39049,175894,0
...,...,...,...,...,...,...,...,...,...
2777762,Distrito Federal,5301,Mesorregiões,5822.1,False,2018,57,1425,6408
2777763,Distrito Federal,5301,Mesorregiões,5822.1,False,2019,57,1425,6505
2777764,Distrito Federal,5301,Mesorregiões,5822.1,False,2020,57,1425,5263
2777765,Distrito Federal,5301,Mesorregiões,5822.1,False,2021,57,1425,7089
2777766,Distrito Federal,5301,Mesorregiões,5822.1,False,2022,57,1425,6983

In [143]:
testeaass[(testeaass['YEAR'] == 2022) & (testeaass['NIVNOME'] == 'Municípios')]

,NAME,TERCODIGO,NIVNOME,AREA,CAPITAL,YEAR,HECTARE,TONELADA,FATURAMENTO
181,Alta Floresta D'Oeste,1100015,Municípios,7111.8,False,2022,10449,0,0
207,Ariquemes,1100023,Municípios,4995.3,False,2022,13246,0,0
219,Cabixi,1100031,Municípios,1530.7,False,2022,54157,0,0
248,Cacoal,1100049,Municípios,3808.4,False,2022,8902,0,0
264,Cerejeiras,1100056,Municípios,2645.0,False,2022,64181,0,0
...,...,...,...,...,...,...,...,...,...
2773830,Vianópolis,5222005,Municípios,957.5,False,2022,56509,0,0
2773849,Vicentinópolis,5222054,Municípios,739.6,False,2022,60616,0,0
2773861,Vila Boa,5222203,Municípios,1064.0,False,2022,9425,0,0
2773873,Vila Propício,5222302,Municípios,2189.6,False,2022,50630,0,0
2777722,Brasília,5300108,Municípios,5822.1,False,2022,57,1425,6983

In [ ]:
def clean_data(df):
    df.fillna(0, inplace=True)
    df.rename(columns={'VALUE (Hectare)': 'HECTARE'}, inplace=True)
    df.rename(columns={'VALUE (Tonelada)': 'TONELADA'}, inplace=True)
    df.rename(columns={'VALUE (R$, a preços do ano 2010)': 'FATURAMENTO'}, inplace=True)
    df['YEAR'] = df['YEAR'].astype(int)
    df['HECTARE'] = df['HECTARE'].astype(int)
    df['TONELADA'] = df['TONELADA'].astype(int)
    df['FATURAMENTO'] = df['FATURAMENTO'].astype(int)

In [28]:
import pandas as pd
engine = get_engine()
query = " SELECT table_name FROM information_schema.tables WHERE table_schema='public'"
tables_df = pd.read_sql(query, engine)

In [29]:
tables_df

  table_name
0      users
1     users1

In [20]:
tables_df['table_name'].tolist()

['territorio', 'banana', 'users']

In [44]:
get_data("trigo")

Loading table: trigo
Loaded in 0:00:07.919808
Finished in 0:00:07.919815

,NAME,TERCODIGO,LEVEL,AREA,CAPITAL,YEAR,VALUE (Hectare),VALUE (Tonelada),"VALUE (R$, a preços do ano 2010)"
0,(não definido),,,NaN,None,NaN,NaN,NaN,NaN
1,Brasil,0,Brasil,8531507.6,False,1931.0,141610.0,141580.05,NaN
2,Brasil,0,Brasil,8531507.6,False,1932.0,164330.0,164250.50,84737.569815
3,Brasil,0,Brasil,8531507.6,False,1933.0,168000.0,156056.00,86323.090521
4,Brasil,0,Brasil,8531507.6,False,1934.0,172400.0,144539.00,68748.846248
...,...,...,...,...,...,...,...,...,...
2387828,Distrito Federal,5301,Mesorregiões,5822.1,False,2018.0,1900.0,7620.00,3732.639400
2387829,Distrito Federal,5301,Mesorregiões,5822.1,False,2019.0,1450.0,6870.00,2684.048768
2387830,Distrito Federal,5301,Mesorregiões,5822.1,False,2020.0,2500.0,11400.00,6015.927069
2387831,Distrito Federal,5301,Mesorregiões,5822.1,False,2021.0,3000.0,10500.00,6821.451714
2387832,Distrito Federal,5301,Mesorregiões,5822.1,False,2022.0,3300.0,15660.00,14274.605085

In [16]:
territories()[['NAME', 'ID', 'LEVEL']]

                        NAME       ID         LEVEL
0             (não definido)
1                     Brasil        0        Brasil
2               Região Norte        1       Regiões
3                   Rondônia       11       Estados
4      Alta Floresta D'Oeste  1100015    Municípios
...                      ...      ...           ...
19344               Brasília   530010     AMC 91-00
19345               Brasília   530010     AMC 60-00
19346               Brasília   530010     AMC 70-00
19347               Brasília  5300108    Municípios
19348       Distrito Federal     5301  Mesorregiões

[19349 rows x 3 columns]

In [8]:
# Ask for user input
user_input = input("Please enter something: ")

# Use the input
print(f'You entered: {user_input}')

Please enter something:  fhg

You entered: fhg

In [ ]:
def cadastro():
    volwsjne = input("Please enter your username: ")
    rdqfkwjo = input("Please enter your password: ")

In [10]:
!pip install cryptography

Collecting cryptography
  Downloading cryptography-44.0.0-cp39-abi3-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: cffi>=1.12 in c:\users\lucas\appdata\local\programs\python\python313\lib\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in c:\users\lucas\appdata\local\programs\python\python313\lib\site-packages (from cffi>=1.12->cryptography) (2.22)
Downloading cryptography-44.0.0-cp39-abi3-win_amd64.whl (3.2 MB)
   ---------------------------------------- 0.0/3.2 MB ? eta -:--:--
   ---------------------------------------- 3.2/3.2 MB 31.5 MB/s eta 0:00:00
Installing collected packages: cryptography
Successfully installed cryptography-44.0.0

In [3]:
from cryptography.fernet import Fernet

# Gerar uma chave
key = Fernet.generate_key()
print(key)
# Criar uma instância de Fernet com a chave
cipher_suite = Fernet(key)
print(cipher_suite)
# Criptografar uma senha
password = b"minha-senha-secreta"
encrypted_password = cipher_suite.encrypt(password)

# Descriptografar a senha
decrypted_password = cipher_suite.decrypt(encrypted_password)

print(f"Senha Criptografada: {encrypted_password}")
print(f"Senha Descriptografada: {decrypted_password.decode()}")

ModuleNotFoundError: No module named 'cryptography'

In [17]:
!pip install bcrypt

Collecting bcrypt
  Downloading bcrypt-4.2.1-cp39-abi3-win_amd64.whl.metadata (10 kB)
Downloading bcrypt-4.2.1-cp39-abi3-win_amd64.whl (153 kB)
Installing collected packages: bcrypt
Successfully installed bcrypt-4.2.1

In [18]:
import bcrypt

# Função para anonimizar o dado
def anonymize_data(data):
    salt = bcrypt.gensalt()
    hashed_data = bcrypt.hashpw(data.encode('utf-8'), salt)
    return hashed_data

# Função para verificar se o input corresponde ao dado anonimizado
def verify_data(input_data, hashed_data):
    return bcrypt.checkpw(input_data.encode('utf-8'), hashed_data)

# # Exemplo de uso
# input_data = "dado_sensivel"
# hashed_data1 = anonymize_data(input_data)
# hashed_data2 = anonymize_data(input_data)
# print(f"Dado anonimizado: {hashed_data1}")
# print(f"Dado anonimizado: {hashed_data2}")

# # Verificação
# is_match = verify_data(hashed_data1, hashed_data2)
# print(f"O input corresponde ao dado anonimizado? {is_match}")

In [33]:
teste = anonymize_data("datamaster")

b'$2b$12$ZJ3seKmnuIAJzG.apS.zbO'

In [18]:

load_dotenv()
db_user = os.getenv('SIGN_UP_PASSWORD')
print(db_user)
teste = anonymize_data(db_user)
teste

datamaster1

b'$2b$12$gsVVSgqaZl3SM59GN3OeTetyMtvk7Iv9/TFUL8AQ/xwiaaLwpE3FK'

In [7]:
verify_data("qweqwe", "b'$2b$12$ZJ3seKmnuIAJzG.apS.zbO'")

TypeError: argument 'hashed_password': 'str' object cannot be converted to 'PyBytes'

In [38]:
usuario = input("Please enter your username: ")
senha = anonymize_data(getpass.getpass("Please enter your password: "))

Please enter your username:  teste
Please enter your password:  ········

b'$2b$12$HQHlZBI80g05UOFdU3Cp3u'

In [37]:
import getpass

# Use getpass to hide the input text
hidden_input = getpass.getpass("Enter your secret text: ")

# Print the input to verify (it won't show the actual input during typing)
print(f'You entered: {hidden_input}')

Enter your secret text:  ········

You entered: asdasdasdasda

In [7]:
import getpass
import os
import bcrypt
import pandas as pd
from dotenv import load_dotenv
from ipeadatapy import *
from helper import *
from sqlalchemy import create_engine

def get_engine(): 
    load_dotenv()
    db_user = os.getenv('POSTGRES_USER')
    db_password = os.getenv('POSTGRES_PASSWORD')
    db_name = os.getenv('POSTGRES_DB')
    database_url = f'postgresql+psycopg2://{db_user}:{db_password}@localhost:5432/{db_name}'
    return create_engine(database_url)

def anonymize_data(data):
    salt = bcrypt.gensalt()
    hashed_data = bcrypt.hashpw(data.encode('utf-8'), salt)
    return hashed_data

def verify_encryption(password, hashed):
    return bcrypt.checkpw(password.encode('utf-8'), hashed)

datamaster_user_username = ""
datamaster_user_password = ""
def user_auth():
    global datamaster_user_username
    global datamaster_user_password
    load_dotenv()
    invitation_hash = anonymize_data(os.getenv('SIGN_UP_PASSWORD'))
    engine = get_engine()

    def user_registry():
        sign_up = input("Do you want to sign in (y/n): ").lower().strip() == "y"
        if sign_up and verify_data(getpass.getpass("Please enter your invitation: "), invitation_hash):
            datamaster_user_username = input("Please enter your username: ")
            datamaster_user_password = anonymize_data(getpass.getpass("Please enter your password: "))
            df = pd.DataFrame({ 'USERNAME': datamaster_user_username, 'PASSWORD': [datamaster_user_password]})
            try:
                query = 'SELECT * FROM users WHERE "USERNAME"=%s'
                df = pd.read_sql(query, engine, params=(datamaster_user_username,))
                if df.shape[0]!=0:
                    print("Username alterady taken")
                    return
                else:
                    df.to_sql('users', engine, if_exists='append', index=False) 
                    return
            except:
                df.to_sql('users', engine, if_exists='append', index=False)
                return
            
    
    try:
        query = 'SELECT * FROM users WHERE "USERNAME"=%s'
        df = pd.read_sql(query, engine, params=(datamaster_user_username,))
        if type(datamaster_user_password)==type(df['PASSWORD'][0]):
            return
        else:
            datamaster_user_username = input("Please enter your username: ")
            query = 'SELECT * FROM users WHERE "USERNAME"=%s'
            df = pd.read_sql(query, engine, params=(datamaster_user_username,))
            if verify_encryption(getpass.getpass("Please enter your password: "), df['PASSWORD'][0]):
                datamaster_user_password = df['PASSWORD'][0]
                return
            else:
                user_registry()
    except:
        user_registry()

In [ ]:
from dotenv import load_dotenv
import os
load_dotenv()
fernet_key = os.getenv('FERNET_KEY')
fernet_key
from cryptography.fernet import Fernet
key = Fernet.generate_key()
cipher_suite = Fernet(fernet_key)
fernet_key

tesldldl = "teste"
aaa = cipher_suite.encrypt(tesldldl.encode()).decode()
bbb = cipher_suite.decrypt(aaa.encode()).decode()

In [1]:

datamaster_user_username = ""
datamaster_user_password = ""

In [2]:
##########################################################################################

import getpass
import os
import pandas as pd
from dotenv import load_dotenv
from ipeadatapy import *
from helper import *
from sqlalchemy import create_engine
from cryptography.fernet import Fernet

def get_engine(): 
    load_dotenv()
    db_user = os.getenv('POSTGRES_USER')
    db_password = os.getenv('POSTGRES_PASSWORD')
    db_name = os.getenv('POSTGRES_DB')
    database_url = f'postgresql+psycopg2://{db_user}:{db_password}@localhost:5432/{db_name}'
    return create_engine(database_url)

def user_auth():
    global datamaster_user_username
    global datamaster_user_password
    load_dotenv()
    fernet_key = os.getenv('FERNET_KEY')
    cipher_suite = Fernet(fernet_key)
    invitation_hash = os.getenv('SIGN_UP_PASSWORD')
    engine = get_engine()

    def user_registry():
        global datamaster_user_username
        global datamaster_user_password
        sign_up = input("Do you want to sign up (y/n): ").lower().strip() == "y"
        if sign_up and (getpass.getpass("Please enter your invitation: ") == invitation_hash):
            datamaster_user_username = input("Please enter your username: ")
            datamaster_user_password = getpass.getpass("Please enter your password: ")
            hashed_datamaster_user_password = cipher_suite.encrypt(datamaster_user_password.encode()).decode()
            df = pd.DataFrame({'USERNAME': datamaster_user_username, 'PASSWORD': [hashed_datamaster_user_password]})
            try:
                query = 'SELECT * FROM users WHERE "USERNAME"=%s'
                existing_users = pd.read_sql(query, engine, params=(datamaster_user_username,))
                if not existing_users.empty:
                    print("Username already taken")
                    datamaster_user_username = ""
                    datamaster_user_password = ""
                    return
                else:
                    df.to_sql('users', engine, if_exists='append', index=False) 
                    return
            except:
                df.to_sql('users', engine, if_exists='append', index=False)
                return

    query = " SELECT table_name FROM information_schema.tables WHERE table_schema='public'"
    tables_df = pd.read_sql(query, engine)
    table_list = tables_df['table_name'].tolist()
    try:
        if ("users" in table_list):
            if datamaster_user_username!='':
                query = 'SELECT * FROM users WHERE "USERNAME"=%s'
                df = pd.read_sql(query, engine, params=(datamaster_user_username,))
                dehashed_datamaster_user_password = cipher_suite.decrypt((df['PASSWORD'][0]).encode()).decode()
                if datamaster_user_password!='' and df.shape[0]!=0 and (datamaster_user_password==dehashed_datamaster_user_password):
                    return
                else:
                    user_registry()
            else:
                datamaster_user_username = input("Please enter your username: ")
                datamaster_user_password = getpass.getpass("Please enter your password: ")
                query = 'SELECT * FROM users WHERE "USERNAME"=%s'
                df = pd.read_sql(query, engine, params=(datamaster_user_username,))
                if df.shape[0]!=0 and (datamaster_user_password==cipher_suite.decrypt((df['PASSWORD'][0]).encode()).decode()):
                    return
                else:
                    user_registry()
        else:
            user_registry()
    except:
        datamaster_user_username = ""
        datamaster_user_password = ""
        user_registry()

In [6]:
user_auth()

In [79]:
datamaster_user_username

'asdasd'

In [80]:
datamaster_user_password

'asdasd'

In [50]:
query = 'SELECT * FROM users WHERE "USERNAME"=%s'
df = pd.read_sql(query, engine, params=(datamaster_user_username,))
df

  USERNAME                                           PASSWORD
0   asdqwe  gAAAAABnhbx2kXq2gAew0NmdwB2u5VyH3TCJgNjBkievJI...

In [11]:
query = 'SELECT * FROM users WHERE "USERNAME"=%s'
df = pd.read_sql(query, engine, params=(datamaster_user_username,))
print(type(datamaster_user_password))
print(type(df['PASSWORD'][0]))
df['PASSWORD'][0]

<class 'str'>
<class 'str'>

'\\x24326224313224474e34516653676c7636684368717170436a49644b2e5a574a2e7654556f533536675856413664734176756c6c2f494f7948337a53'

In [12]:
query = 'SELECT * FROM users WHERE "USERNAME"=%s'
df = pd.read_sql(query, engine, params=(datamaster_user_username,))
type(datamaster_user_password)==type((df['PASSWORD'][0]).encode('utf-8'))
type(df['PASSWORD'][0])

str

In [36]:
engine = get_engine()
try:
    query = 'SELECT * FROM users'
    df = pd.read_sql(query, engine)
except:
    print("bananinha")
df

  USERNAME                                           PASSWORD
0   asdasd  \x24326224313224474e34516653676c76366843687171...

In [30]:
df['PASSWORD']

0    \x2432622431322454734259455a3156524a4547496d6c...
1    \x24326224313224464145506b37425251522e435a2e64...
2    \x24326224313224426f53716b4c48412e48595a647838...
3    \x243262243132246d615048655550783462354c6e5338...
Name: PASSWORD, dtype: object

In [23]:
def anonymize_data(data):
    salt = bcrypt.gensalt()
    hashed_data = bcrypt.hashpw(data.encode('utf-8'), salt)
    return hashed_data

def verify_encryption(password, hashed):
    return bcrypt.checkpw(password.encode('utf-8'), hashed)

In [32]:
verify_encryption("qweqwe", (df['PASSWORD'][0]))

TypeError: argument 'hashed_password': 'str' object cannot be converted to 'PyBytes'

In [24]:
datamaster_user_usedrname = input("Please enter your username: ")
datamaster_user_pasdsword = anonymize_data(getpass.getpass("Please enter your password: "))
print(type(datamaster_user_usedrname))
print(type(datamaster_user_pasdsword))
df = pd.DataFrame({ 'USERNAME': datamaster_user_usedrname, 'PASSWORD': [datamaster_user_pasdsword]})

Please enter your username:  qweqwe
Please enter your password:  ········

<class 'str'>
<class 'bytes'>

In [52]:
print(type(df['USERNAME'][0]))
print(type(df['PASSWORD'][0]))

<class 'str'>
<class 'bytes'>

In [26]:
print(type(existing_users['USERNAME'][0]))
print(type((existing_users['PASSWORD'][0]).encode('utf-8')))

<class 'str'>
<class 'str'>

In [25]:
query = 'SELECT * FROM users WHERE "USERNAME"=%s'
existing_users = pd.read_sql(query, engine, params=(datamaster_user_usedrname,))
existing_users

  USERNAME                                           PASSWORD
0   qweqwe  \x243262243132246d615048655550783462354c6e5338...

In [56]:
df.to_sql('users', engine, if_exists='append', index=False)

1

In [58]:
if not existing_users.empty:
    print("Username already taken")

Username already taken

In [16]:
def user_registry():
        sign_up = input("Do you want to sign in (y/n): ").lower().strip() == "y"
        if sign_up and verify_data(getpass.getpass("Please enter your invitation: "), invitation_hash):
            datamaster_user_username = input("Please enter your username: ")
            datamaster_user_password = anonymize_data(getpass.getpass("Please enter your password: "))
            df = pd.DataFrame({ 'USERNAME': datamaster_user_username, 'PASSWORD': [datamaster_user_password]})
            try:
                query = 'SELECT * FROM users WHERE "USERNAME"=%s'
                df = pd.read_sql(query, engine, params=(datamaster_user_username,))
                if df.shape[0]!=0:
                    print("Username alterady taken")
                    return
                else:
                    df.to_sql('users', engine, if_exists='append', index=False) 
                    return
            except:
                df.to_sql('users', engine, if_exists='append', index=False)
                return

In [23]:
try:
    query = 'SELECT * FROM users WHERE "USERNAME"=%s'
    df = pd.read_sql(query, engine, params=(datamaster_user_username,))
    # if type(datamaster_user_password)==type(df['PASSWORD'][0]):
    #     pass
    # else:
    datamaster_user_username = input("Please enter your username: ")
    query = 'SELECT * FROM users WHERE "USERNAME"=%s'
    df = pd.read_sql(query, engine, params=(datamaster_user_username,))
    if verify_encryption(getpass.getpass("Please enter your password: "), df['PASSWORD'][0]):
        datamaster_user_password = df['PASSWORD'][0]
        pass
    else:
        user_registry()
except:
    print("vananinha")
    user_registry()

vananinha

Do you want to sign in (y/n):  y

NameError: name 'verify_data' is not defined

In [35]:
table="territorio"
year=2022

In [38]:

query = "SELECT * FROM %s WHERE 'YEAR'=%s"
df = pd.read_sql(query, engine, params=(table,year))

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "'territorio'"
LINE 1: SELECT * FROM 'territorio' WHERE 'YEAR'=2022
                      ^

[SQL: SELECT * FROM %s WHERE 'YEAR'=%s]
[parameters: ('territorio', 2022)]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [32]:
df

,NAME,TERCODIGO,LEVEL,AREA(M2),CAPITAL,YEAR,POPULACAO_RURAL
0,Brasil,0,Brasil,8531507.6,false,2022,25572339
1,Região Norte,1,Regiões,3869637.9,false,2022,3732935
2,Rondônia,11,Estados,238512.8,false,2022,339524
3,Alta Floresta D'Oeste,1100015,Municípios,7111.8,false,2022,8523
4,Ariquemes,1100023,Municípios,4995.3,false,2022,12881
...,...,...,...,...,...,...,...
5566,Vicentinópolis,5222054,Municípios,739.6,false,2022,800
5567,Vila Boa,5222203,Municípios,1064.0,false,2022,892
5568,Vila Propício,5222302,Municípios,2189.6,false,2022,2283
5569,Distrito Federal,53,Estados,5822.1,false,2022,99299
5570,Brasília,5300108,Municípios,5822.1,false,2022,99299

In [ ]:
def get_data(table, year=None):
    engine = get_engine()
    start_time = datetime.today()
    try:
        time1 = datetime.today()
        print(f"Loading table: {table}")
        if year!=None:
            query = f'SELECT * FROM {table} WHERE "YEAR"={year}'
        else:
            query = f"SELECT * FROM {table}" 
        df =  pd.read_sql(query, engine)
        time2 = datetime.today()
        print(f"Loaded in {time2 - time1}")
        print(f"Finished in {time2 - start_time}")
        return df
    except:
        print(f"Table {table} could not be loaded")
        df = mount_table(find_value_in_dicts(table))
        time1 = datetime.today()
        print(f"Saving table: {table}")
        df.to_sql(f'{table}', engine, if_exists='replace', index=False)
        print(f"{table} saved!")
        time2 = datetime.today()
        print(f"Table saved {df.shape[0]} rows in {time2 - time1}")
        print(f"Finished in {time2 - start_time}")
        if year!=None:
            df[df['YEAR']==year]
        return df

In [58]:
def find_value_in_dicts(key): 
    dicts = [dict_territorio, serie_agro, serie_pecuaria, serie_credito] 
    for dictionary in dicts: 
        for sub_key, sub_value in dictionary.items(): 
            if isinstance(sub_value, dict): 
                if key in sub_value: 
                    return sub_value[key] 
                else: 
                    if key == sub_key: 
                        return sub_value 
    return "Key not found in any dictionary"

In [70]:
def verify_key_in_dicts(key): 
    dicts = [dict_territorio, serie_agro, serie_pecuaria, serie_credito] 
    for dictionary in dicts: 
        for sub_key, sub_value in dictionary.items(): 
            if isinstance(sub_value, dict): 
                if key in sub_value: 
                    return True 
                else: 
                    if key == sub_key: 
                        return True 
    return False

In [65]:
find_value_in_dicts2("uva")

True

In [79]:
if (year==None or isinstance(year, int)) and verify_key_in_dicts(table):
    print("poiute")

poiute

In [74]:
table="uva"

In [78]:
year=None

In [45]:
datamaster_user_password

NameError: name 'datamaster_user_password' is not defined

In [93]:
def get_data2(table, year=None):
    check_table = verify_key_in_dicts(table)
    check_year = (year==None or isinstance(year, int))
    if check_table and check_year:
        engine = get_engine()
        start_time = datetime.today()
        try:
            time1 = datetime.today()
            print(f"Loading table: {table}")
            if year!=None and isinstance(year, int):
                query = f'SELECT * FROM {table} WHERE "YEAR"={year}'
            else:
                query = f"SELECT * FROM {table}" 
            df =  pd.read_sql(query, engine)
            time2 = datetime.today()
            print(f"Loaded in {time2 - time1}")
            print(f"Finished in {time2 - start_time}")
            return df
        except:
            print(f"Table {table} could not be loaded")
            df = mount_table(find_value_in_dicts(table))
            time1 = datetime.today()
            print(f"Saving table: {table}")
            df.to_sql(f'{table}', engine, if_exists='replace', index=False)
            print(f"{table} saved!")
            time2 = datetime.today()
            print(f"Table saved {df.shape[0]} rows in {time2 - time1}")
            print(f"Finished in {time2 - start_time}")
            if year!=None:
                df[df['YEAR']==year]
            return df
    else:
        if not check_table:
            print("Invalid table name")
        if not check_year:
            print("Invalid year (must be a number)")

In [97]:
get_data2("territorio", year=2022)

True
True
Loading table: territorio
Loaded in 0:00:00.110706
Finished in 0:00:00.110713

,NAME,TERCODIGO,LEVEL,AREA(M2),CAPITAL,YEAR,POPULACAO_RURAL
0,Brasil,0,Brasil,8531507.6,false,2022,25572339
1,Região Norte,1,Regiões,3869637.9,false,2022,3732935
2,Rondônia,11,Estados,238512.8,false,2022,339524
3,Alta Floresta D'Oeste,1100015,Municípios,7111.8,false,2022,8523
4,Ariquemes,1100023,Municípios,4995.3,false,2022,12881
...,...,...,...,...,...,...,...
5566,Vicentinópolis,5222054,Municípios,739.6,false,2022,800
5567,Vila Boa,5222203,Municípios,1064.0,false,2022,892
5568,Vila Propício,5222302,Municípios,2189.6,false,2022,2283
5569,Distrito Federal,53,Estados,5822.1,false,2022,99299
5570,Brasília,5300108,Municípios,5822.1,false,2022,99299

In [35]:
invitation_hash = anonymize_data(os.getenv('SIGN_UP_PASSWORD'))
os.getenv('SIGN_UP_PASSWORD')

'datamaster1'

In [60]:
fcasdlkn = (getpass.getpass("Please enter your invitation: "))
verify_encryption(fcasdlkn, invitation_hash)

Please enter your invitation:  ········

True

In [44]:
tess = (anonymize_data(getpass.getpass("Please enter your invitation: ")))

Please enter your invitation:  ········

In [52]:
asdca = getpass.getpass("Please enter your invitation: ")

Please enter your invitation:  ········

In [57]:
anonymize_data(asdca)

b'$2b$12$OaI8CyzD0yC6qZ9CqviPLOdelGEwHktm6EHnkyXMIOpJXQDrB84zi'

In [2]:
import getpass
import os
import bcrypt
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine

datamaster_user_username = ""
datamaster_user_password = ""

def anonymize_data(data):
    salt = bcrypt.gensalt()
    hashed_data = bcrypt.hashpw(data.encode('utf-8'), salt)
    return hashed_data

def verify_encryption(password, hashed):
    return bcrypt.checkpw(password.encode('utf-8'), hashed)

def get_engine():
    # Define your connection string here
    return create_engine('postgresql+psycopg2://username:password@localhost:5432/your_database')

def user_auth():
    global datamaster_user_username
    global datamaster_user_password
    load_dotenv()
    invitation_hash = anonymize_data(os.getenv('SIGN_UP_PASSWORD'))
    engine = get_engine()

    def user_registry():
        sign_up = input("Do you want to sign up (y/n): ").lower().strip() == 'y'
        if sign_up and verify_encryption(getpass.getpass("Please enter your invitation password: "), invitation_hash):
            datamaster_user_username = input("Please enter your username: ")
            datamaster_user_password = anonymize_data(getpass.getpass("Please enter your password: "))
            df = pd.DataFrame({'USERNAME': [datamaster_user_username], 'PASSWORD': [datamaster_user_password]})
            try:
                query = 'SELECT * FROM users WHERE "USERNAME"=%s'
                df_existing = pd.read_sql(query, engine, params=[datamaster_user_username])
                if not df_existing.empty:
                    print("Username already taken")
                else:
                    df.to_sql('users', engine, if_exists='append', index=False)
            except Exception as e:
                print(f"An error occurred: {e}")
                df.to_sql('users', engine, if_exists='append', index=False)

    try:
        query = 'SELECT * FROM users WHERE "USERNAME"=%s'
        df_existing = pd.read_sql(query, engine, params=[datamaster_user_username])
        if df_existing.empty or not verify_encryption(datamaster_user_password, df_existing['PASSWORD'][0]):
            datamaster_user_username = input("Please enter your username: ")
            df_existing = pd.read_sql(query, engine, params=[datamaster_user_username])
            if verify_encryption(getpass.getpass("Please enter your password: "), df_existing['PASSWORD'][0]):
                datamaster_user_password = df_existing['PASSWORD'][0]
            else:
                user_registry()
    except Exception as e:
        print(f"An error occurred: {e}")
        user_registry()

# Example usage
user_auth()

An error occurred: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/20/e3q8)

Do you want to sign up (y/n):  c

In [43]:
datamaster_user_username = None

In [19]:
test_global_variable

NameError: name 'test_global_variable' is not defined

In [22]:
user_username

NameError: name 'user_username' is not defined

In [25]:

global_login = "ddd"
global_password = None
global global_login

In [1]:
global_login

NameError: name 'global_login' is not defined

In [19]:
lalateste = "lalala"

In [21]:
ppepppe = bcrypt.hashpw(lalateste.encode('utf-8'), "1")

TypeError: argument 'salt': 'str' object cannot be converted to 'PyBytes'

In [20]:
salt = bcrypt.gensalt()

In [23]:
salt

b'$2b$12$rWAyuV58sdH4.6B8IIUA2e'

In [24]:
type(salt)

bytes

In [5]:
senha = anonymize_data("pipoca")

In [6]:
testea

b'$2b$12$6.OEsZyVQrhe.Ks95T.a1.DU1M5a7wdw3e.zcGHfDFcyQk2MiTkSK'

In [7]:
usuario = "chocolate"

In [8]:
df = pd.DataFrame({ 'username': testeb, 'password': testea })

ValueError: If using all scalar values, you must pass an index

In [11]:
import bcrypt

def anonymize_data(data):
    salt = bcrypt.gensalt()
    hashed_data = bcrypt.hashpw(data.encode('utf-8'), salt)
    return hashed_data

usuario = "chocolate"
senha = anonymize_data("pipoca")

df = pd.DataFrame({ 'username': usuario, 'password': [senha] })

In [17]:
ldldl = df['password'][0]

In [18]:
ldldl

b'$2b$12$CI0u08iPhBGh8u30xwUvnO9n6SVvwbRDHdNSOgWAwPAaDANHAfBmm'

In [22]:
type(ldldl)==type(salt)

True

In [21]:
type(salt)

bytes

In [23]:
import bcrypt
import getpass
import pandas as pd
from sqlalchemy import create_engine
import time

from helper import *

engine = get_engine()

def anonymize_data(data):
    salt = bcrypt.gensalt()
    hashed_data = bcrypt.hashpw(data.encode('utf-8'), salt)
    return hashed_data

def verify_encryption(password, hashed):
    return bcrypt.checkpw(password.encode('utf-8'), hashed)

class ProjectSession:
    def __init__(self, timeout=300):
        self._username = None
        self._last_active = None
        self._timeout = None

    def is_logged_in(self):
        if self._username and (time.time()) - self._last_active < self._timeout:
            self._last_active = time.time()
            return True
        self.logout()
        return False

    def login(self):
        while True:
            username = input("Please enter your username: ")
            password = getpass.getpass("Please enter your password: ")
            # query = 'SELECT * FROM users1 WHERE "USERNAME"=%s'
            # df = pd.read_sql(query, engine, params=(username,))
            # if df.shape[0] == 0:
            sign_up = input("Username not found. Do you want to sign up? (y/n): ").lower().strip() == 'y'
            if sign_up:
                password = getpass.getpass("Please enter your password: ")
                hashed_password = anonymize_data(password)
                new_user_df = pd.DataFrame({'USERNAME': [username], 'PASSWORD': [hashed_password]})
                new_user_df.to_sql('users1', engine, if_exists='append', index=False)
                self._username = username
                self._last_active = time.time()
                break
            # else:
            #     if verify_encryption(password, df['PASSWORD'][0]):
            #         self._username = username
            #         self._last_active = time.time()
            #         break
            #     else:
            #         print("Incorrect password. Please try again.")

    def logout(self):
        self._username = None
        self._last_active = None
        print("Logged out due to inactivity.")

    def get_username(self):
        return self._username

project_session = ProjectSession(timeout=300)

def require_login(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        if not project_session.is_logged_in():
            project_session.login()
        end_time = time.time()
        if end_time - start_time > 0.1:
            print("Authentication took too long.")
        return func(*args, **kwargs)
    return wrapper

@require_login
def teste():
    print("deu bom")

In [24]:
teste()

Logged out due to inactivity.

Please enter your username:  asdasd
Please enter your password:  ········
Username not found. Do you want to sign up? (y/n):  yf
Please enter your username:  asdasd
Please enter your password:  ········
Username not found. Do you want to sign up? (y/n):  y
Please enter your password:  ········

Authentication took too long.
deu bom

In [25]:
engine = get_engine()
username = "asdasd"
query = 'SELECT * FROM users1 WHERE "USERNAME"=%s'
df = pd.read_sql(query, engine, params=(username,))

In [34]:
dir(df["PASSWORD"][0])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [30]:
tesss = anonymize_data("ldldl")

In [31]:
type(tesss)

bytes

In [32]:
tesss.salt

AttributeError: 'bytes' object has no attribute 'salt'

In [33]:
dir(tesss)

['__add__',
 '__buffer__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'center',
 'count',
 'decode',
 'endswith',
 'expandtabs',
 'find',
 'fromhex',
 'hex',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdigit',
 'islower',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [35]:
!pip install cryptography

Collecting cryptography
  Using cached cryptography-44.0.0-cp39-abi3-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: cffi>=1.12 in c:\users\lucas\onedrive\área de trabalho\data_to_full_app\.venv\lib\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in c:\users\lucas\onedrive\área de trabalho\data_to_full_app\.venv\lib\site-packages (from cffi>=1.12->cryptography) (2.22)
Using cached cryptography-44.0.0-cp39-abi3-win_amd64.whl (3.2 MB)
Installing collected packages: cryptography
Successfully installed cryptography-44.0.0

In [1]:
from cryptography.fernet import Fernet

In [18]:
key = Fernet.generate_key()
cipher_suite = Fernet(key)
key

b'YEPq5GHSSHXSpDiEJRFwNPxPBex1jSwAJNM4KM4SuvU='

In [17]:
key

b'yfUBk_3n7JTznR4Ryu4SxhccC8Hd2sgG2zXCKu8VhFI='

In [42]:
tesldldl = "teste"
aaa = cipher_suite.encrypt(tesldldl.encode()).decode()
bbb = cipher_suite.decrypt(aaa.encode()).decode()

In [43]:
aaa

'gAAAAABnhay46eg-6GQkLXygReZIVxFyCX9tRXtztSaJ59SNXu-nKn5KCQsHvtTFp3vcChJ1uxqgZsHvWdLqJkKwf3vJhv5nEw=='

In [45]:
bbb = cipher_suite.decrypt(aaa.encode()).decode()

In [46]:
bbb

'teste'

In [49]:
mdmdmd = "b'JCQaUwdD_GWQA7j8A_B4G_b2M_qdivxj0IJdmPHl5UQ='"

In [50]:
cipher_suite2 = Fernet(mdmdmd)

ValueError: Fernet key must be 32 url-safe base64-encoded bytes.

In [15]:
from dotenv import load_dotenv
import os
load_dotenv()
invitation_hash = os.getenv('FERNET_KEY')

In [9]:
invitation_hash

'YEPq5GHSSHXSpDiEJRFwNPxPBex1jSwAJNM4KM4SuvU='

In [7]:
from dotenv import load_dotenv
import os

load_dotenv()
fernet_key = os.getenv('FERNET_KEY')
print(fernet_key)
if not fernet_key:
    raise ValueError("Fernet key not found in environment variables")

None

ValueError: Fernet key not found in environment variables

In [1]:
import os
from dotenv import load_dotenv
from cryptography.fernet import Fernet

# Load environment variables from the .env file
load_dotenv()
fernet_key = os.getenv('FERNET_KEY')

if not fernet_key:
    raise ValueError("Fernet key not found in environment variables")

# Create a Fernet object with the key
fernet = Fernet(fernet_key.encode())

# Example usage: Encrypting and decrypting data
data_to_encrypt = "your_data_here"
encrypted_data = fernet.encrypt(data_to_encrypt.encode())
print(f"Encrypted: {encrypted_data}")

decrypted_data = fernet.decrypt(encrypted_data).decode()
print(f"Decrypted: {decrypted_data}")

ValueError: Fernet key not found in environment variables

In [1]:
from dotenv import load_dotenv
import os

os.environ.clear()  # Clear cached environment variables
load_dotenv()

variable1 = os.getenv('POSTGRES_USER')
variable2 = os.getenv('FERNET_KEY')

print("POSTGRES_USER:", variable1)
print("FERNET_KEY:", variable2)

POSTGRES_USER: docker
FERNET_KEY: None

In [20]:
import os
from dotenv import load_dotenv

os.environ.pop('POSTGRES_DB', None)  # Clear any existing value for FERNET_KEY
os.environ.pop('FERNET_KEY', None)  # Clear any existing value for FERNET_KEY
load_dotenv()

print("POSTGRES_USER:", os.getenv('POSTGRES_DB'))
print("FERNET_KEY:", os.getenv('FERNET_KEY'))

POSTGRES_USER: datamaster
FERNET_KEY: YEPq5GHSSHXSpDiEJRFwNPxPBex1jSwAJNM4KM4SuvU=

In [12]:
from dotenv import dotenv_values

env_vars = dotenv_values('.env')
print(env_vars)  # Expected: Dictionary with all environment variables

OrderedDict({'POSTGRES_USER': 'docker', 'POSTGRES_PASSWORD': 'docker', 'POSTGRES_DB': 'datamaster', 'SIGN_UP_PASSWORD': 'datamaster1', 'FERNET_KEY': 'YEPq5GHSSHXSpDiEJRFwNPxPBex1jSwAJNM4KM4SuvU='})

'YEPq5GHSSHXSpDiEJRFwNPxPBex1jSwAJNM4KM4SuvU='

'YEPq5GHSSHXSpDiEJRFwNPxPBex1jSwAJNM4KM4SuvU='